.App {
  margin-right: 9%;
  margin-left: 9%;
  text-align: center;
  min-width: 50vh;
  width:80%;
  
  border: black 2px solid;

}

.posts{
  background-color: rgb(209, 151, 151);
  border-radius: 5%;
  border: 2mm #db8a76 ridge;
  padding:10px;
  color:white;
 
}
